<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .avatar {
            width: 150;
            height: 100px;
            border-radius: 50%;
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width:70%;
          margin-left: auto;
          margin-right: auto;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>

<!-- navbar -->
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/sign-up">Sign-up</a>
    </div>
<!-- users form -->
<h2>List Users</h2>
   
<table>
<tr>
    <th>Fullname</th>
    <th>Email</th>
    <th>City</th>
    <th>Image</th>
    <th>Action</th>
    
</tr>
<!-- Iterate over listUsers array -->
<% listUsers.forEach(function(user)  { %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td>
            <img class="avatar" src="<%= user.image %>" alt="img">
        </td>
        <td>
            <a href="/edit/<%= user.id %>">Edit</a>
            <form action="delete/<%= user.id %>" method="post">
                <button>Delete</button>
            </form>
        </td>
    </tr>
<% }) %>
</table>